<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add Certificate</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/certificate.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<div class="container">

    <div class="card">

        <h1>
            <i class="fa-solid fa-certificate"></i>
            Add Certificate
        </h1>

        <form method="POST">

            <input
                type="text"
                name="certificate_name"
                placeholder="Certificate Name"
                required>

            <input
                type="text"
                name="issuer"
                placeholder="Issued By"
                required>

            <input
                type="date"
                name="issue_date"
                required>

            <input
                type="url"
                name="credential_link"
                placeholder="Credential Link">

            <button type="submit">

                <i class="fa-solid fa-plus"></i>

                Add Certificate

            </button>

        </form>

    </div>

</div>

</body>

</html>